body {
    font-family: 'Arial';
    margin: 0;
    padding-top: 3.4vh;
    background: linear-gradient(#34495E, #1a2836) fixed;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ECF0F1;
    padding: 4vh 4vh 1.5vh;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    animation: containerEntrance 1s ease-out;
}

@keyframes containerEntrance {
    from { opacity: 0; transform: translateY(20px) }
    to { opacity: 1; transform: none }
}

header {
    text-align: center;
    animation: headerFade 1s ease-in;
    font-weight: bold;
    color: #34495E;
    min-height: 90px;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #34495E;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes headerFade {
    from { opacity: 0; transform: translateY(-20px) }
    to { opacity: 1; transform: none }
}

.photos {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin: 0 3vw;
}

.main-img {
    width: 40%;
    border-radius: 50px;
    transition: .3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    border-radius: 10px;
    padding: 3vh;
    margin: 3vh 3vw 0;
}

.nav-button {
    border: 2px solid #bdc3c7;
    background-color: white;
    color: #34495E;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
    background-image: linear-gradient(#34495E, #34495E);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: transform .5s, background-size .5s, background-color 1s, color .5s, box-shadow .5s, border-color .5s;
}

.nav-button:hover {
    transform: scale(1.03);
    background-size: 100% 100%;
    background-color: #34495E;
    color: white;
    border-color: #34495E;
    box-shadow: 0 0 0 3px rgba(52, 73, 94, 0.2);
}

.footer {
    font-weight: bold;
    width: 100%;
    padding: 1vh 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ECF0F1;
    background: #34495E;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navigation {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 3.4vh;
        margin-left: 3.4vh;
    }
    
}